// color
$black: #000;
$white: #fff;
$orange: #fe8869;
$dark: #363636;
$light: #bcbcbc;
$darken: #333;
$footer-border: #d9d9d9;
$footer-links: #9c9c9c;
$contacts-color: #999;
$facebook: #3b5998;
$facebook-hover: #263961;
$twitter: #00aced;
$twitter-hover: #0074a1;
$google: #dd4b39;
$google-hover: #ac2d1e;
$pinterest: #cb2027;
$pinterest-hover: #89161a;

// breakpoints
$xs:  max-width 768px !default;
$sm:  min-width 768px !default;
$md:  min-width 992px !default;
$lg:  min-width 1200px !default;
$xlg: min-width 1600px !default;

// fonts
$font-path: '../fonts/';