//- text variables
-var items = [{'img': 'first.png','name': 'Diamondback 2013 Overdrive 29’er...','price': '$80.00'},{'img': 'second.png','name': 'Nashbar AT2 Mountain Bike','price': '$80.00'},{'img': 'third.png','name': 'GMC Topkick Dual Suspension...','price': '$80.00'},{'img': 'fourth.png','name': 'GMC Topkick Dual Suspension','price': '$80.00'}]